/* visually hidden and datainver */

/* 25 */

:root {
  --clr-primary-400: #04ddb2;
  --clr-accent-400: #333;
  --clr-accent-100: #767676;
  --clr-neutral-100: #ffffff;

  --ff-family-primary: "Lab Grotesque", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-heading);

  --fw-bold: 900;
  --fw-regular: 400;
  --fw-semi-bold: 700;

  --fs-300: 1rem; /* 16px */
  --fs-400: 1.125rem; /* 18px */
  --fs-450: 1.25rem; /* 20px */
  --fs-500: 1.5rem; /* 24px */
  --fs-600: 1.625rem; /* 26px */
  --fs-700: 2.375rem; /* 38px */
  --fs-800: 3.5rem; /* 56px */
  --fs-900: 4rem; /*64px*/

  --fs-footer: var(--fs-300);
  --fs-nav: var(--fs-400);
  --fs-body: var(--fs-400);
  --fs-button: var(--fs-400);
  --fs-heading: var(--fs-700);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5.5rem;
}

/*between 650px and 1200px tab */
@media (min-width: 40.625em) and (max-width: 75em) {
  :root {
    --fs-footer: var(--fs-300);
    --fs-nav: var(--fs-300);
    --fs-body: var(--fs-500);
    --fs-button: var(--fs-450);
    --fs-heading: var(--fs-800);
  }
}

/*1200px above*/
@media (min-width: 75em) {
  :root {
    --fs-footer: var(--fs-300);
    --fs-nav: var(--fs-400);
    --fs-body: var(--fs-600);
    --fs-button: var(--fs-450);
    --fs-heading: var(--fs-900);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-heading {
  font-size: var(--fs-heading);
}

.text-center {
  text-align: center;
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-800 {
  padding-block: var(--size-800);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-bottom-800 {
  padding-bottom: var(--size-800);
}

.padding-bottom-900 {
  padding-bottom: var(--size-900);
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
  /* margin: 0 auto; */
}

/* general styling */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-family-primary);
  color: var(--clr-accent-400);
}

.video-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 20px;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  max-width: 100%;
  /* background: #000; */
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
}

.button {
  /* display: inline-flex; */
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1em 2.25em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: #fff;

  background-color: var(--clr-primary-400);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}

.button:hover,
.button:focus-visible {
  padding: 1.2em 2.45em;
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  padding: 1.2em 2.45em;
}

/* button inverted */

.primary-footer-wrapper {
  /* display: flex;
  justify-content: space-between;
  flex: 1 1; */
  display: grid;
}

/* footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .col {
  display: grid;
} */

/*  navigation */

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-accent-100);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

@media (max-width: 40.625em) {
  .primary-navigation {
    display: none;

    padding: var(--size-600);

    position: absolute;
    inset: 7rem var(--size-400) auto;
    background: #04ddb2;
    z-index: 1;
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
}

/* .mobile-nav-toggle .icon-close {
  display: none;
}

.mobile-nav-toggle .icon-hamburger {
  display: none;
} */
